body{
 background-image: url("image/Wallpaper Jesus Saves Bro.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;

}


.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.titulo {
    text-align: center;
    font-family: bazooka;
   
}

