body{
 background-image: url("image/fundo1.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 object-fit: cover;
 color:rgb(255, 255, 255);

}


.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.titulo {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 450%;
    
   
}

.tituloCadastro {
    
    font-family: Brush Script MT, Brush Script Std, cursive;
   
}

footer{
    text-align: center;
    background-color: rgb(166, 166, 166);
  color: rgb(255, 255, 255);
  font-size: large;

}

h2{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 300%;
}
.destaqueContainer {
    display: flex;
    justify-content: space-around;
}
h1 {
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 350%;
}